.container {
    background-color: white;
    /* 内部の背景色を白に設定 */
    width: 500px;
    height: 100px;
    border-radius: 150px;
    /* 角を丸くする */
    border: 5px solid yellow;
    /* 外枠を黄色、太さを5pxに設定 */
    font-size: 20px;
    /* 文字サイズを調整 */
    cursor: pointer;
    /* ボタンにポインタカーソルを表示 */
    display: flex;
    /* コンテンツを中央に配置するための設定 */
    align-items: center;
    /* 垂直方向の中央寄せ */
    justify-content: center;
    /* 水平方向の中央寄せ */
    text-align: center;
    /* テキストを中央に配置 */
}